name: Publish

on:
  push:
    branches: [main]
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
          fetch-depth: 0
      - name: Set up .wiki remote
        run: git remote add dot-wiki git@github.com:ohmyzsh/ohmyzsh.wiki.git
      - name: Set up deploy keys to push to remote
        env:
          WIKI_DEPLOY_PRIVATE_KEY: ${{ secrets.WIKI_DEPLOY_PRIVATE_KEY }}
        run: |
          # Write deploy key to ~/.ssh/id_ed25519. Git will automatically
          # use ~/.ssh/id_ed25519 to log in to github.com (see `man ssh`)
          mkdir -p ~/.ssh
          echo "${WIKI_DEPLOY_PRIVATE_KEY}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
      - name: Push commits to main wiki remote
        run: git push --force dot-wiki HEAD:master
